# Compiled class files
*.class

# Log files
*.log
logs/
*.log.*

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# Used by mvnw
.mvn/wrapper/maven-wrapper.jar

# Gradle
.gradle
build/
# Ignore Gradle GUI config
gradle-app.setting
# Avoid ignoring Gradle wrapper jar file (.jar files are ignored above)
!gradle-wrapper.jar

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/
# JetBrains Rider
.idea.rider/
*.sln.iml

# Eclipse
.classpath
.project
.settings/
bin/
tmp/
.metadata
# External tool builders
.externalToolBuilders/
# Locally stored information within Eclipse workspace
.cproject

# NetBeans
/nbproject/private/
/nbbuild/
/.nb-gradle/
build.xml

# VS Code
.vscode/

# Mac OS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Windows
# Folder config file
[Dd]esktop.ini
# Recycle Bin used on file shares
$RECYCLE.BIN/
# Windows Installer files
*.cab
*.msi
*.msm
*.msp
# Windows shortcuts
*.lnk

# Other
# Crashlytics plugin
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# Checkstyle
checkstyle-results.xml

# JaCoCo
jacoco.exec
jacoco.xml

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

#Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup

# Miscellaneous
*.swp
*~
*.bak
*.tmp

# If you are using Flyway
flyway.log
